.wrapper{
    background-color:transparent;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
}


.primary{
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    border-radius: 50%;
}