// .btn-login{
//     background-color: #fff;
//     padding: 10px 40px;
//     border-radius: 10px;
//     text-decoration: none;
//     box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
// }
.wrapper {
    text-decoration-color: #969696;
    color: #969696;
    margin: 10px;
    cursor: pointer;
}
.primary{
    border: none;
    text-decoration: none;
    background-color: #fff;
    padding: 10px 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
