.wrapper{
    position: relative;
    width: 300px;
    height: 550px;
    border-radius: 30px;
    background: linear-gradient(45deg, #CA87F4, #BDE0FE, #F3C4FB, #F8EEFF);
}


// background-color: #d2d2d2;
//     display: flex;
//     justify-content: center;
//     padding: 20px 0px;